<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.school.index.dao.ApplyDao">

    <insert id="applySub">
        insert into apply
        (stu_id,issue,transport,place,start_time,end_time,state) values
        (#{stu_id},#{issue},#{transport},#{place},#{start_time},#{end_time},0)
    </insert>
    <select id="lastApply" resultType="java.lang.Integer">
        select * from apply where stu_id = #{id} and state = 0 limit 1
    </select>
</mapper>
