<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.school.index.dao.OtherDao">

    <insert id="subFeedback">
        insert into feedback (title, content, time, user_id) values
        (#{title},#{content},#{time},#{id})
    </insert>
    <update id="feedbackReplay">
        update feedback set reply = #{replay}
        where id = #{id}
    </update>
    <select id="feedbackList" resultType="com.school.index.pojo.Feedback">
        select * from feedback
        <where>
            <if test="id != null">
               and user_id = #{id}
            </if>
        </where>
    </select>
    <select id="feedbackListNoReplay" resultType="com.school.index.pojo.Feedback">
        select * from feedback where reply is null
    </select>
</mapper>
