<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.school.index.dao.UserDao">
    <update id="updateImg">
        update user set img = #{img}
        where id = #{id}
    </update>
    <update id="updPwd">
        update user set password = #{pwd2}
        where username = #{username}
    </update>
    <update id="updState">
        update user set state = #{date}
        where id = #{id}
    </update>
    <select id="selectAll" resultType="com.school.index.pojo.User">
        select * from `user`
    </select>
    <select id="getUserByUsername" resultType="com.school.index.pojo.User">
        select * from user where username = #{username}
    </select>
    <select id="getUser" resultType="com.school.index.pojo.User">
        select * from user where username = #{username} and role_id = #{role}
    </select>
    <select id="redCodeList" resultType="com.school.index.pojo.User">
        select name,stu_id from user where TO_DAYS(NOW( )) != TO_DAYS(state) and role = 2
    </select>
</mapper>
